body {
    font-family: Verdana, sans-serif;
    font-size: 10pt;
}

#container {
    clear: both;
    margin: 0 auto;
    width: 960px;
}

#main {
    background-color: #F6F6EF;
    width: 960px;
}

#header {
    background-color: #FF6600;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #000000;
}

span {
    display: block;
}

span, span a {
    color: #828282;
    font-size: 8pt;
}
